body {
    background-color: #f0f0f0;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    font-size: 36px;
}

main {
    padding: 20px;
}

nav {
    background-color: #444;
    padding: 10px 0;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}

section {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
}

section h2 {
    color: #333;
    font-size: 24px;
}

ul {
    list-style: disc;
    padding-left: 0;
}

ul li {
    margin-bottom: 5px;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

a {
    color: #007BFF;
    text-decoration: none;
    transition: color 0.3s;
}

a:hover {
    color: #0056b3;
}

.primary-nav {
    display: flex;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
}

input[type="text"],
input[type="file"] {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button[type="button"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
}

button[type="button"]:hover {
    background-color: #45a049;
}

/* For mobile phones, tablets ETC */
@media (min-width: 576px) {
    body, main, section, .form-group {
        margin: 10px;
        padding: 10px;
    }

    img {
        max-width: 100%;
        height: auto;
    }

    header, footer {
        padding: 15px 0;
        font-size: 16px; 
    }

    .primary-nav {
        flex-direction: column;
        align-items: center;
    }

    nav a {
        display: block; 
        margin: 5px;
    }

    label, input[type="text"], input[type="file"], button[type="button"] {
        width: 100%; 
    }
}
