<nav>
    <a href="https://webpages.charlotte.edu/eschwalb/">CLT Webspace</a> ||
    <a href="https://github.com/sneakerspeak08">Github</a> ||
    <a href="https://sneakerspeak08.github.io/">Github.io</a> ||
    <a href="https://sneakerspeak08.github.io/itis3135/">ITIS3135.io</a> ||
    <a href="https://www.freecodecamp.org/certification/ethanschwalbach/javascript-algorithms-and-data-structures">Certified In JS</a> ||
    <a href="https://www.freecodecamp.org/ethanschwalbach">FreeCodeCamp</a> ||
    <a href="https://www.codecademy.com/profiles/ajax0404705041">Codeacademy</a> ||
    <a href="https://www.linkedin.com/in/ethan-schwalbach-8016b71b2">LinkedIn</a>
</nav>
<p>Built by <a href="schwalbach-enterprise.com/">© Schwalbach Enterprise 2023</a></p>
<a href id="validation_link_html">
    <img style="border:0;width:88px;height:31px" src="https://upload.wikimedia.org/wikipedia/commons/b/bb/W3C_HTML5_certified.png" alt="Valid HTML!">
</a>
<a href id="validation_link_css">
    <img style="border:0;width:88px;height:31px" src="https://jigsaw.w3.org/css-validator/images/vcss" alt="Valid CSS!">
</a>
